@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 1;
}

#mokey {
    position: absolute;
    bottom: 0;
    align-self: center;
    margin-left: 30%;
}

@media (max-width: 768px) {
    #mokey {
          display:none;
 }
}